@import url("../base/index");
@import url("../components/index");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'luxeuno';
  src: url('../fonts/luxeuno-heavy-webfont.woff2') format('woff2'),
       url('../fonts/luxeuno-heavy-webfont.woff') format('woff');
  font-weight: 900;
}
@font-face {
font-family: 'luxeuno';
src: url('../fonts/luxeuno-bold-webfont.woff2') format('woff2'),
     url('../fonts/luxeuno-bold-webfont.woff') format('woff');
font-weight: 700;
}
@font-face {
font-family: 'luxeuno';
src: url('../fonts/luxeuno-semibold-webfont.woff2') format('woff2'),
     url('../fonts/luxeuno-semibold-webfont.woff') format('woff');
font-weight: 600;
}
@font-face {
  font-family: 'luxeuno';
  src: url('../fonts/luxeuno-regular-webfont.woff2') format('woff2'),
       url('../fonts/luxeuno-regular-webfont.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'luxeuno';
  src: url('../fonts/luxeuno-light-webfont.woff2') format('woff2'),
  url('../fonts/luxeuno-light-webfont.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'luxeuno';
  src: url('../fonts/luxeuno-ultralight-webfont.woff2') format('woff2'),
  url('../fonts/luxeuno-ultralight-webfont.woff') format('woff');
  font-weight: 200;
}
@font-face {
  font-family: 'luxeuno';
  src: url('../fonts/luxeuno-thin-webfont.woff2') format('woff2'),
       url('../fonts/luxeuno-thin-webfont.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: 'farnhamtext-regularlfregular';
  src: url('../fonts/farnhamtext-regularlf_regular-webfont.woff2') format('woff2'),
       url('../fonts/farnhamtext-regularlf_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  overflow: hidden;
  --bottom-max13h: 100%;
  --display-max13h: none;
  --opacity-land1: 1;
  --blur-land1: blur(0px);
  --opacity-land2: 1;
  --blur-land2: blur(0px);
  --opacity-land3: 1;
  --blur-land3: blur(0px);
  --opacity-land4: 1;
  --blur-land4: blur(0px);
  --width-land4: 100%;
  --opacity-land5: 1;
  --blur-land5: blur(0px);
  --height-land5: 94%;
}

body {
  @apply bg-light text-dark;
  font-family: luxeuno, sans-serif;
}

.divider-block-screen {
  @apply
    h-[50vh]
}
.divider-block-lg {
  @apply
    h-56 sm:h-64 md:h-72 lg:h-80 xl:h-96
}
.divider-block-md {
  @apply
    h-32 sm:h-40 md:h-48 lg:h-56 xl:h-64
}

.divider-block-sm {
  @apply
    h-16 sm:h-24 md:h-32 lg:h-40 xl:h-48
}

.no-translate3D {
  transform: translate3d(0, 0, 0) !important
}
