@import url("../base/index");
@import url("../components/index");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'luxeuno';
  src: url('../fonts/luxeuno-heavy-webfont.woff2') format('woff2'),
       url('../fonts/luxeuno-heavy-webfont.woff') format('woff');
  font-weight: 900;
}
@font-face {
font-family: 'luxeuno';
src: url('../fonts/luxeuno-bold-webfont.woff2') format('woff2'),
     url('../fonts/luxeuno-bold-webfont.woff') format('woff');
font-weight: 700;
}
@font-face {
font-family: 'luxeuno';
src: url('../fonts/luxeuno-semibold-webfont.woff2') format('woff2'),
     url('../fonts/luxeuno-semibold-webfont.woff') format('woff');
font-weight: 600;
}
@font-face {
  font-family: 'luxeuno';
  src: url('../fonts/luxeuno-regular-webfont.woff2') format('woff2'),
       url('../fonts/luxeuno-regular-webfont.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'luxeuno';
  src: url('../fonts/luxeuno-light-webfont.woff2') format('woff2'),
  url('../fonts/luxeuno-light-webfont.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'luxeuno';
  src: url('../fonts/luxeuno-ultralight-webfont.woff2') format('woff2'),
  url('../fonts/luxeuno-ultralight-webfont.woff') format('woff');
  font-weight: 200;
}
@font-face {
  font-family: 'luxeuno';
  src: url('../fonts/luxeuno-thin-webfont.woff2') format('woff2'),
       url('../fonts/luxeuno-thin-webfont.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: 'farnhamtext-regularlfregular';
  src: url('../fonts/farnhamtext-regularlf_regular-webfont.woff2') format('woff2'),
       url('../fonts/farnhamtext-regularlf_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  overflow: hidden;
  --bottom-circle: 100%;
  --display-circle: none;
  --opacity-land1: 1;
  --blur-land1: blur(0px);
  --opacity-land2: 1;
  --blur-land2: blur(0px);
  --opacity-land3: 1;
  --blur-land3: blur(0px);
}

* {
  @apply text-dark;
}

body {
  @apply bg-light;
  font-family: luxeuno, sans-serif;
}

.bg-dark p {
  @apply text-light
}
.bg-light p {
  @apply text-dark
}

.divider-block {
  @apply
    h-56 sm:h-64 md:h-72 lg:h-80 xl:h-96
    bg-teal-600
}
