@import url("../base/index");
@import url("../components/index");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'luxeuno';
  src: url('../fonts/luxeuno-heavy-webfont.woff2') format('woff2'),
       url('../fonts/luxeuno-heavy-webfont.woff') format('woff');
  font-weight: 900;
}
@font-face {
font-family: 'luxeuno';
src: url('../fonts/luxeuno-bold-webfont.woff2') format('woff2'),
     url('../fonts/luxeuno-bold-webfont.woff') format('woff');
font-weight: 700;
}
@font-face {
font-family: 'luxeuno';
src: url('../fonts/luxeuno-semibold-webfont.woff2') format('woff2'),
     url('../fonts/luxeuno-semibold-webfont.woff') format('woff');
font-weight: 600;
}
@font-face {
  font-family: 'luxeuno';
  src: url('../fonts/luxeuno-regular-webfont.woff2') format('woff2'),
       url('../fonts/luxeuno-regular-webfont.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'luxeuno';
  src: url('../fonts/luxeuno-light-webfont.woff2') format('woff2'),
  url('../fonts/luxeuno-light-webfont.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: 'luxeuno';
  src: url('../fonts/luxeuno-ultralight-webfont.woff2') format('woff2'),
  url('../fonts/luxeuno-ultralight-webfont.woff') format('woff');
  font-weight: 200;
}
@font-face {
  font-family: 'luxeuno';
  src: url('../fonts/luxeuno-thin-webfont.woff2') format('woff2'),
       url('../fonts/luxeuno-thin-webfont.woff') format('woff');
  font-weight: 100;
}

@font-face {
  font-family: 'farnhamtext-regularlfregular';
  src: url('../fonts/farnhamtext-regularlf_regular-webfont.woff2') format('woff2'),
       url('../fonts/farnhamtext-regularlf_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  --bottom-circle: 100%;
  --display-circle: none
}

* {
  @apply text-dark;
}

body {
  @apply bg-light;
  font-family: luxeuno, sans-serif;
}

.bg-dark p,
.bg-dark p * {
  @apply text-light
}

.v-popper--theme-max13h .v-popper__inner {
  background: #f7f6f9;
  color: #0e0e0f;
  padding: 8px;
  border: none;
  border-radius: 8px;
}

.v-popper--theme-max13h .v-popper__arrow-container {
  filter: brightness(0) saturate(100%) invert(100%) sepia(12%) saturate(775%) hue-rotate(182deg) brightness(100%) contrast(96%);
  border: none;
}
